* {
  line-height: 1.2;
  margin: 0;
}

html {
  color: #333;
  display: table;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 1em 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container>.grid-item {
  text-align: center;
  padding: 20px 0;
}